PORT=3003

DB_HOST=payment-db
DB_PORT=3306
DB_NAME=payment_db
DB_USER=root
DB_PASSWORD=root

PAYMENT_SIMULATION_MODE=random

KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=payment-service
PAYMENT_SUCCESS_TOPIC=payment.success
PAYMENT_FAILED_TOPIC=payment.failed
PAYMENT_REFUNDED_TOPIC=payment.refunded

NODE_ENV=development
